<h2 class="accinfo text-white">My NYCe Account Information</h2>

<ul class="list-group">
  <li class="list-group-item">Username: <%= @user.username %></li>
    <li class="list-group-item">First Name: <%= @user.first_name %></li>
        <li class="list-group-item">Last Name: <%= @user.last_name %></li>
            <li class="list-group-item">Birthday: <%= @user.birthday %></li>
                 <li class="list-group-item">Email: <%= @user.email %></li>
</ul>

    <article class="content text-white">
        <% if session[:user_id] %>
    <h1 id="deact">Deactivate Your NYCe Profile</h1>
        <h5>Enter your user name to DEACTIVATE your Account!!!</h5>

    <form action="/myprofile" method="post">
      <input type="text" name="username" id="user_name" placeholder="Username" required>
        <input type="submit" value="Delete Account"> 
    </form>

  </form>
        <% else %>
  <h1>Only NYCe users that are logged in can post...</h1>
        <a href="/signin"><button class="sign-button">LOG IN</button></a>
    <% end %>
</article>
<br>
<br>
